@import "fonts"
@import "libs"
@import "vars"
@import "_functions/custom"

*
	margin: 0
	padding: 0

*::-webkit-input-placeholder
	color: $default-color
	opacity: 1

*:-moz-placeholder
	color: $default-color
	opacity: 1

*::-moz-placeholder
	color: $default-color
	opacity: 1

*:-ms-input-placeholder
	color: $default-color
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $default-color
body input:required:valid,
body textarea:required:valid
	color: $default-color

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1


.center
	text-align: center
.left
	text-align: left
.right
	text-align: right

section.dark
	background-color: $dark
	color: $grey
	h3, h5
		color: $light

.light
	color: $light

a
	outline: none


ul
	list-style: none


section
	background-color: $light-white

h3
	text-transform: uppercase
	font-size: em(24px)
	text-align: center
	
	&

h4
	font-family: $exo2-font
	font-size: em(24px)
	text-transform: uppercase
	padding: em(5px)

h5
	font-size: em(20px)

hr
	width: em(150px)
	height: 2px
	margin-top: em(5px)
	background-color: $accent
	border: 0


.img-responsive
	display: block
	max-width: 100%
	height: auto

.logo
	font-size: em(30px)
	font-weight: bold
	font-family: $exo2-font
	color: $light
	a
		text-decoration: none
		color: $light
		&:hover
			opacity: 0.9
	&-accent
		color: $accent


header
	background-image: url("../img/header-bg.jpg")
	box-shadow: inset 5000px 0 0 0 rgba(0, 0, 0, 0.58)
	background-size: cover
	background-position: bottom
	min-height: em(650px)
	height: 100vh
	color: $light
	padding: 
		top: 50px	

	.header-heading
		display: flex
		align-items: center

	nav
		font-size: em(14px)

		ul
			margin: auto
			display: flex
			justify-content: space-around

			a
				color: $light
				text-decoration: none

				&:hover, &:visited, &:link, &:active
					color: $light
					text-decoration: none

			li
				padding-bottom: 2px

				&:hover, &.active
					padding-bottom: 0
					border-bottom: 2px solid $accent

	.header-content
		display: flex
		align-items: center
		color: $light
		font-size: em(14px)
		letter-spacing: 0.06em

		h1
			font-size: em(36px)
			font-weight: normal
			line-height: 1.3

		.button
			margin-top: em(50px)
			padding:
				right: em(75px)
				left: em(75px)

		i
			padding-right: em(5px)

		ul
			color: $grey
			line-height: 1.8

	.header-img-wrapper
		// text-align: center

		// &::before
		// 	content: ""
		// 	display: inline-block
		// 	height: 100%
		// 	vertical-align: middle

		// img
		// 	vertical-align: middle


.ishome
	h1
		margin-top: 0


.button
	text-align: center
	border: 0
	display: inline-block
	background-color: $accent
	color: #fff
	text-decoration: none
	padding: em(13px) em(34px)
	letter-spacing: 0.1em
	text-transform: uppercase
	box-shadow: 0 4px 0 $accent-dark
	border-radius: 3px
	transition: all 0.15s ease

	&:hover, &:active, &:visited, &:link
		color: #fff
		text-decoration: none

	&:hover
		background-color: #18cb65

	&:active
		background-color: #0E9C4B
		transform: translateY(2px)


.phone
	text-align: right
	letter-spacing: 0.06em
	font-size: em(16px)

	ul
		font-weight: bold

		img
			width: 18px
			margin:
				top: -3px
				right: 2px
			

.callback
	text-align: right
	font-size: em(11px)
	letter-spacing: 0.06em

	a
		color: $grey
		text-decoration: underline

		&:hover
			color: $grey
			text-decoration: none


.features
	.feature-bullet
		text-align: center
		margin-bottom: em(100px)

		i
			display: block
			font-size: em(48px)
			color: $light
			margin-bottom: em(5px)

		&:hover
			color: $accent
			i
				color: $accent


.title
	margin: em(60px) 0
	display: flex
	flex-direction: column
	align-items: center


.all-products
	position: relative
	padding: 0 em(50px)
	margin-bottom: em(80px)


.product-block
	text-align: center
	border: 5px solid $light-grey
	background-color: #FFF
	
	img
		margin: 10% 0
		position: relative

	.price
		position: absolute
		top: 60%
		width: 50%
		right: 5%
		font-family: $exo2-font
		font-weight: bold
		color: #fff
		background-color: $dark
		
		.current-price
			font-size: em(35px)
			vertical-align: top	

		.old-price
			color: $dark-red
			text-decoration: line-through
			font-size: em(20px)
			vertical-align: text-top


	.button
		color: $default-color
		background-color: $button-grey
		box-shadow: 0 4px 0 $button-dark-grey
		margin: 5% 0
		width: 90%

	&:hover
		transition: all 0.15s ease
		border-color: $accent
		.button
			color: #fff
			background-color: $accent
			box-shadow: 0 4px 0 $accent-dark
		
.guarantee-content
	padding-bottom: em(70px)
	color: $grey
	p
		padding-bottom: em(60px)


.questions-wrapper
	display: flex
	align-items: center

	.questions-content
		padding-bottom: em(40px)
		p
			padding-bottom: em(60px)

	.questions-img-wrapper
		text-align: center
		padding-bottom: em(70px)

.delivery-wrapper
	color: $grey
	display: flex
	align-items: center

	.delivery-content
		padding-left: em(10px)
		padding-bottom: em(40px)
		p
			padding-bottom: em(60px)

	.delivery-img-wrapper
		text-align: center
		padding-bottom: em(70px)


.pagination	
	i
		font-size: em(55px)


.reviews
	padding-bottom: em(70px)

	.reviews-wrapper

		display: flex
		align-items: center	

		.reviews-img-wrapper
			img
				max-width: 85%
				border-radius: 50%
				border: 8px solid $grey
	.reviews-sign-wrapper
		padding-top: em(50px)
		font-weight: bold


.contacts
	padding-bottom: em(70px)

.contacts-wrapper
	i
		width: em(10px)
		color: $accent
		// padding-right: em(1px)
		font-size: em(48px)
		text-align: center

	.name
		font-weight: bold
		color: $light
	
	.contact-phone-numbers
		display: inline-block

	.contact-address
		padding-bottom: em(20px)
	.contact-phone
		padding-bottom: em(40px)

form.callback-form
	background-color: #303946
	padding: em(24px)
	.callback-form-title
		text-transform: uppercase
		font-size: em(18px)
		letter-spacing: 0.1em
		color: $light

	p
		font-size: em(14px)
		margin:
			top: em(10px)
			bottom: em(15px)

form
	text-align: center
	.button
		margin: 0
	input, select, textarea
		color: $default-color
		border-radius: 2px
		display: block
		border: none
		width: 100%
		padding: em(9px) em(12px)
		margin-bottom: em(20px)

footer
	padding: em(30px) 0
	background-color: #20252d
	color: $light

	.footer-heading
		display: flex
		align-items: center
	nav
		font-size: em(14px)

		ul
			margin: auto
			display: flex
			justify-content: space-around

			a
				color: $light
				text-decoration: none

				&:hover, &:visited, &:link, &:active
					color: $light
					text-decoration: none

			li
				padding-bottom: 2px

				&:hover, &.active
					padding-bottom: 0
					border-bottom: 2px solid $accent

.owl-nav
	position: absolute
	width: 100%
	top: 50%
	left: 0
	div
		color: $grey
		&:hover
			color: $dark
		font-size: em(55px)
		position: absolute
		line-height: em(0px)
		left: 0
		&.owl-next
			left: auto
			right: 0

@import "media" // Всегда в конце
